/* Header
------------------------------------------------------------*/

.c-header {
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    border-bottom: 1px solid #ccc;
    &__logo {
        max-width: 125px;
        margin-left: 40px;
    }
    &__menu {
        display: flex;
        height: 100%;
    }
    &__nav {
        ul {
            margin-right: 15px;
            height: 100%;
            display: flex;
            align-items: center;
            a {
                padding: 0px 19px;
                font-size: 2rem;
                text-transform: uppercase;
                color: #000;
                transition: 0.3s all ease-in-out;
                &:hover,
                &.is-active {
                    color: #040eff;
                }
            }
        }
    }
    &__call {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 40px 0 20px;
        font-size: 1.4rem;
        color: #000;
        &::after {
            content: "";
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
            left: 0;
            width: 1px;
            height: 30%;
            border-left: 1px dotted #000;
        }
        i {
            margin-right: 6px;
            font-size: 1.6rem;
        }
    }
    &__contact {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: #e06d18;
        padding: 0 40px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        i {
            margin-right: 6px;
            font-size: 2.2rem;
        }
    }
}

.c-trigger,
.c-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.c-trigger {
    margin-right: 40px;
    display: none;
    position: relative;
    width: 40px;
    height: 35px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {
            top: 15px;
        }
        &:nth-of-type(3) {
            bottom: 0;
        }
    }
}

@keyframes active-menu05-bar02 {
    100% {
        height: 0;
    }
}

#menu05 {
    z-index: 11;
    &.is-active {
        span {
            &:nth-of-type(1) {
                transform: translateY(15px) rotate(-45deg);
            }
            &:nth-of-type(2) {
                left: 50%;
                opacity: 0;
                animation: active-menu05-bar02 .8s forwards;
            }
            &:nth-of-type(3) {
                transform: translateY(-17px) rotate(45deg);
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .c-header {
        &__contact {
            padding: 0 20px;
        }
        &__call {
            padding: 0 20px 0 10px;
        }
        &__nav {
            ul {
                a {
                    padding: 0px 15px;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .c-header {
        height: 70px;
        &.is-active {
            .c-header__menu {
                transform: translateX(0%);
            }
        }
        &__logo {
            margin-left: 15px;
        }
        &__menu {
            overflow: auto;
            transition: all .3s ease-in-out;
            padding: 0 30px 20px;
            background: #fff;
            width: 100%;
            height: calc(100% - 70px);
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;
            transform: translateX(100%);
        }
        &__nav {
            margin-bottom: 20px;
            ul {
                margin-right: 0;
                flex-direction: column;
                li {
                    text-align: center;
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                }
                a {
                    font-size: 3rem;
                    font-weight: 400;
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
                    color: #000;
                    display: block;
                    width: 100%;
                    padding: 20px 0;
                }
            }
        }
        &__call {
            margin: 15px 0;
            &::after {
                border-left-width: 0;
            }
        }
        &__contact,
        &__call {
            background: #e06d18;
            color: #fff;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
            padding: 20px 20px;
            font-size: 2rem;
            font-weight: 400;
            height: auto;
            i {
                margin-right: 17px;
                font-size: 3rem;
            }
        }
    }
    .c-trigger {
        display: block;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 550px) {
    .c-header {
        height: 60px;
        &__logo {
            margin-left: 10px;
            max-width: 100px;
        }
        &__nav {
            ul {
                a {
                    padding: 15px 0;
                    font-size: 2.2rem;
                }
            }
        }
        .c-trigger {
            width: 30px;
            height: 26px;
            margin-right: 10px;
            span {
                height: 2px;
                &:nth-of-type(2) {
                    top: 12px;
                }
            }
        }
        #menu05 {
            &.is-active {
                span {
                    &:nth-of-type(1) {
                        transform: translateY(10px) rotate(-45deg);
                    }
                    &:nth-of-type(3) {
                        transform: translateY(-14px) rotate(45deg);
                    }
                }
            }
        }
    }
}