/* layout
------------------------------------------------------------*/
body{
	font-family: $mainFonts;
	font-size: 1.4rem;
	min-width: $baseWidth;
	line-height: 1.5;
	@include breakpoint(sp) {
		min-width: 320px;
	}
}

.l-container{
	max-width: 1200px;
	margin: 0 auto;
}
@media screen and (max-width: 768px) {
	.l-container{
		padding: 0 10px;
	}
}
//-------------------------------------------------------

