<%- include('inc/_header'); %>
<main class="p-company">
    <section class="p-company1">
        <div class="p-company1__head">
            <div class="l-container">
                <h3 class="c-titleline c-titleline--black">
                    会社情報
                </h3>
                <p class="p-company1__desc">
                    ビデオユニテの会社情報を紹介しています。
                </p>
            </div>
        </div>
        <div class="p-company1__body">
            <div class="l-container">
                <div class="p-company1__box">
                    <p>想像力豊かな演出</p>
                    <p>高品質な映像編集</p>
                    <h5>美しく仕上げる音響効果・CG</h5>
                    <h4>期待を超える映像を提供する</h4>
                </div>
                <div class="p-company1__image">
                    <img class="c-fit" src="../assets/img/company_image_01.png" alt="Video_Unite">
                </div>
            </div>
        </div>
    </section>
    <section class="p-company2">
        <div class="p-company2__objects">
            <div class="item item1">
                <span class="c-object">icon 1</span>
            </div>
            <div class="item item2">
                <span class="c-object c-object--2">icon 2</span>
            </div>
            <div class="item item3">
                <span class="c-object c-object--3">icon 3</span>
            </div>
            <div class="item item4">
                <span class="c-object c-object--4">icon 4</span>
            </div>
            <div class="item item5">
                <span class="c-object c-object--5">icon 4</span>
            </div>
        </div>
        <div class="l-container l-container--small">
            <div class="c-section-title c-section-title--left">
                <h2>COMPANY PROFILE</h2>
                <p>会社概要</p>
            </div>
            <ul class="p-company2__profile">
                <li>
                    <h5>名称</h5>
                    <p>株式会社 ビデオユニテ</p>
                </li>
                <li>
                    <h5>事業内容</h5>
                    <p>
                        テレビ番組の映像編集および企画制作<br>
                        テレビCMおよび企業向けビデオなどの企画制作<br>
                        Web関連の制作および企画・演出
                    </p>
                </li>
                <li>
                    <h5>設立</h5>
                    <p>1990年11月</p>
                </li>
                <li>
                    <h5>資本金</h5>
                    <p>1000万円</p>
                </li>
                <li>
                    <h5>從業員数</h5>
                    <p>40人 (2018年3月現在)</p>
                </li>
                <li>
                    <h5>本社住所</h5>
                    <p>〒531-0072 大阪市北区豊崎3丁目9-7 いずみビル8階</p>
                </li>
                <li>
                    <h5>東京住所</h5>
                    <p>〒531-0072 大阪市北区豊崎3丁目9-7 いずみビル8階</p>
                </li>
            </ul>
            <div class="c-section-title c-section-title--left">
                <h2>FACILITY</h2>
                <p>設備</p>
            </div>
            <ul class="p-company2__facility">
                <li>
                    <div class="text">
                        <h3>HEAD OFFICE</h3>
                        <h4>本社設備</h4>
                        <p>
                            このテキストは ダミーです。このテキストは ダミーです。このテキストは ダミーです。このテキストはダミーです。このテキストはダミーです。こ のテキストはダミーです。このテキストはダミーです。このテキストは ダ ミーです。このテキストはダミーです。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="text">
                        <h3>TOKYO OFFICE</h3>
                        <h4>東京設備</h4>
                        <p>
                            このテキストは ダミーです。このテキストは ダミーです。このテキストは ダミーです。このテキストはダミーです。このテキストはダミーです。こ のテキストはダミーです。このテキストはダミーです。このテキストは ダ ミーです。このテキストはダミーです。
                        </p>
                    </div>
                </li>
            </ul>
            <div class="c-section-title c-section-title--left">
                <h2>ORGANIZATION<br>CHART</h2>
                <p>設備</p>
            </div>
            <div class="p-company2__chart"></div>
        </div>
    </section>
    <section class="p-company3">
        <div class="l-container l-container--small">
            <div class="c-titleline">
                <h3>アクセス</h3>
            </div>
            <div class="p-company3__access">
                <div class="head">
                    <h3>HEAD OFFICE</h3>
                    <h4>本社へのご案内</h4>
                </div>
                <div class="image">
                    <img class="c-fit" src="../assets/img/head_office.png" alt="本社へのご案内">
                </div>
                <ul class="infor">
                    <li>
                        <div class="text">
                            <h5>地下鉄でお越しの方</h5>
                            <p>
                                地下鉄・御堂筋線「中津駅」下車、3番出口より東へ150m進み<br>
                                豊崎西公園を南へ250m。ホテルサンルートの西隣のビル
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <h5>阪急電車でお越しの方</h5>
                            <p>
                                阪急電車「梅田駅」下車、茶屋町口(東側)より北へ300m(徒歩7分)<br>
                                途中、阪急インターナショナルおよび北消防署が目印
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="btn">
                    <a href="#" target="_blank">GOOGLE MAPで見る</a>
                </div>
            </div>
            <div class="p-company3__access">
                <div class="head">
                    <h3>TOKYO OFFICE</h3>
                    <h4>ュニテ東京へのご案内</h4>
                </div>
                <div class="image">
                    <img class="c-fit" src="../assets/img/tokyo_office.png" alt="ュニテ東京へのご案内">
                </div>
                <ul class="infor">
                    <li>
                        <div class="text">
                            <h5>東京メトロでお越しの方</h5>
                            <p>
                                東京メトロ千代田線/赤坂駅より6番出口を上がって、すぐ左側のアスモビル 5F(1Fが「すき家」のビル)
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="btn">
                    <a href="#" target="_blank">GOOGLE MAPで見る</a>
                </div>
            </div>
        </div>
    </section>
    <section class="p-company4">
        <div class="l-container">
            <h3 class="c-titleline c-titleline--black">
                BUSINESS
            </h3>
            <div class="p-company4__bussiness">
                <div class="p-company4__item">
                    <div class="image">
                        <img class="c-fit" src="../assets/img/bussiness_01.png" alt="TV制作・報道">
                    </div>
                    <h3>TV制作・報道</h3>
                    <p>最もピデオユニテが得意とする TV領域の制作です。</p>
                </div>
                <div class="p-company4__item">
                    <div class="image">
                        <img class="c-fit" src="../assets/img/bussiness_02.png" alt="行政・企業VP">
                    </div>
                    <h3>行政・企業VP</h3>
                    <p>企業様や、各種団体の映像制 作もおまかせ下さい。</p>
                </div>
                <div class="p-company4__item">
                    <div class="image">
                        <img class="c-fit" src="../assets/img/bussiness_03.png" alt="WEBメディア動画制作">
                    </div>
                    <h3>WEBメディア動画制作</h3>
                    <p>オンラインのトレンドとなっ ている、各種WEBメディアで 放送する動画制作が可能です。</p>
                </div>
                <div class="p-company4__item">
                    <div class="image">
                        <img class="c-fit" src="../assets/img/bussiness_04.png" alt="配信・中継番組">
                    </div>
                    <h3>配信・中継番組</h3>
                    <p>オンラインでライブ配信する 技術・ノウハウがあります。</p>
                </div>
                <div class="p-company4__item">
                    <div class="image">
                        <img class="c-fit" src="../assets/img/bussiness_05.png" alt="WEB広告">
                    </div>
                    <h3>WEB広告</h3>
                    <p>WEBで配信する広告動画・画 像などの制作も行っています。</p>
                </div>
                <div class="p-company4__item">
                    <div class="image">
                        <img class="c-fit" src="../assets/img/bussiness_06.png" alt="CG・イラスト制作">
                    </div>
                    <h3>CG・イラスト制作</h3>
                    <p>番組制作で培った技術が、多 用な場面で活用いただけます。</p>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('inc/_footer'); %>