<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="p-top">
        <!--▼ Plan ▼-->
        <div class="c-plan">
            <div class="l-container l-container--small">
                <!--======= Plan Header =======-->
                <div class="c-plan__header">
                    <div class="c-title2 c-title2--silver">
                        <h2>
                            PLAN
                        </h2>
                        <p>
                            プラン・料金例
                        </p>
                    </div>
                </div>
                <!--======= Plan Body =======-->
                <div class="c-plan__body">
                    <!-- Plan Item -->
                    <div class="c-plan__item">
                        <h3 class="c-plan__heading">
                            Case.1 撮影なし プラン
                        </h3>
                        <div class="c-plan__detail">
                            <div class="c-plan__img">
                                <img src="./assets/img/plan-image.png" alt="">
                            </div>
                            <div class="c-plan__content">
                                <h5 class="c-plan__title">このプランに含まれる内容</h5>
                                <p class="c-plan__desc">画構成費・ディレクション費・編集費・グラフィック制作費・音効費・ナ レーション費・納品物作成作業費</p>
                                <p class="c-plan__price">486,000 <span>円</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- Plan Item -->
                    <div class="c-plan__item">
                        <h3 class="c-plan__heading">
                            Case.1 撮影なし プラン
                        </h3>
                        <div class="c-plan__detail">
                            <div class="c-plan__img">
                                <img src="./assets/img/plan-image.png" alt="">
                            </div>
                            <div class="c-plan__content">
                                <h5 class="c-plan__title">このプランに含まれる内容</h5>
                                <p class="c-plan__desc">画構成費・ディレクション費・編集費・グラフィック制作費・音効費・ナ レーション費・納品物作成作業費</p>
                                <p class="c-plan__price">486,000 <span>円</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- Plan Item -->
                    <div class="c-plan__item">
                        <h3 class="c-plan__heading">
                            Case.1 撮影なし プラン
                        </h3>
                        <div class="c-plan__detail">
                            <div class="c-plan__img">
                                <img src="./assets/img/plan-image.png" alt="">
                            </div>
                            <div class="c-plan__content">
                                <h5 class="c-plan__title">このプランに含まれる内容</h5>
                                <p class="c-plan__desc">画構成費・ディレクション費・編集費・グラフィック制作費・音効費・ナ レーション費・納品物作成作業費</p>
                                <p class="c-plan__price">486,000 <span>円</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--======= Plan Footer =======-->
                <div class="c-plan__footer">
                    <p>詳しいご相談はこちらから</p>
                    <a href="#" class="c-plan__btn">
                        お問い合わせ

                    </a>
                </div>
            </div>

        </div>
        <div class="c-flow">
            <div class="l-container l-container--small">
                <div class="c-flow__header">
                    <div class="c-title2 c-title2--silver">
                        <h2>
                            FLOW
                        </h2>
                        <p>
                            制作の流れ
                        </p>
                    </div>
                </div>
                <div class="c-flow__body">
                    <div class="c-flow__item">
                        <p class="c-flow__number"></p>
                        <div class="c-flow__content">
                            <h3 class="c-flow__heading">
                                企画
                            </h3>
                            <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                            </p>
                        </div>
                    </div>
                    <div class="c-flow__item">
                        <p class="c-flow__number"></p>
                        <div class="c-flow__content">
                            <h3 class="c-flow__heading">
                                リサーチ
                            </h3>
                            <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                            </p>
                        </div>
                    </div>
                    <div class="c-flow__item">
                        <p class="c-flow__number"></p>
                        <div class="c-flow__content">
                            <h3 class="c-flow__heading">
                                ロケハン
                            </h3>
                            <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                            </p>
                        </div>
                    </div>
                    <div class="c-flow__item">
                        <p class="c-flow__number"></p>
                        <div class="c-flow__content">
                            <h3 class="c-flow__heading">
                                ロケ
                            </h3>
                            <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--▲ Plan ▲-->
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>