<%- include('inc/_header'); %>
<<<<<<< HEAD
    <!--▼ Content area ▼-->
    <main class="p-top">
=======
<!--▼ Content area ▼-->
<main class="p-top">
    <a href="binh_component.html">Binh's component</a>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>
>>>>>>> master

    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>