<%- include('inc/_header'); %>
<main class="p-intel">
    <div class="c-banner">
        <img class="c-fit" src="../assets/img/untie_top_006.jpg" alt="page-baner">
    </div>
    <section class="p-intel1">
        <h3 class="c-titleline c-titleline--black">
            採用情報
        </h3>
        <p class="p-intel__desc c-desc">
            採用募集に関する情報を掲載しています。
        </p>
        <div class="p-intel1__message">
            <div class="l-container">
                <div class="p-intel1__image-list">
                    <div class="image image--1">
                        <img class="c-fit" src="../assets/img/intel_img_01.png" alt="intel_img">
                    </div>
                    <div class="image image--2">
                        <img class="c-fit" src="../assets/img/intel_img_02.png" alt="intel_img">
                    </div>
                    <div class="image image--3">
                        <img class="c-fit" src="../assets/img/intel_img_03.png" alt="intel_img">
                    </div>
                </div>
                <div class="p-intel1__content">
                    <div class="l-container">
                        <div class="c-section-title">
                            <h2>MESSAGE</h2>
                            <p>代表メッセージ</p>
                        </div>
                        <p class="text">
                            代表から、就活生へのメッセージ代表から、就活生へのメッセージ代表から、就活生へのメッセージ代表か 就活生へのメッセージ代表から、就活生へのメッセージ代表から、就活生へのメッセージ代表から、就活生への メッセージ代表から、就活生へのメッセージ代表から、就活生へのメッセージ代表から、就活生へのメッセージ 代表から、就活生へのメッセージ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-intel2">
        <div class="p-intel2__head">
            <div class="c-section-title c-section-title--color-inherit">
                <h2>IDEAL CANDIDATE PROFILE</h2>
                <p>求める人材</p>
            </div>
        </div>
        <div class="p-intel2__body">
            <div class="object object--1">
                <img src="../assets/img/intel_img_02.png" alt="intel_img" class="c-fit">
            </div>
            <div class="object object--2">
                <img src="../assets/img/intel_img_04.png" alt="intel_img" class="c-fit">
            </div>
            <div class="object object--3">
                <img src="../assets/img/intel_img_05.png" alt="intel_img" class="c-fit">
            </div>
            <div class="l-container">
                <p>
                    1969年、日本で初めて液化天然ガス(LNG)を導入した東京ガスは今日ま での半世紀、クリーンな天然ガスの普及拡大をリードしてきました。エネ ルギーで変革を起こし、持続可能な社会の実現に挑戦することは、SDGsの 精神にも通じる、創業者・渋沢栄一が大切にしてきた公益追求への高い志 であり、私たちのDNAです。
                </p>
                <p>
                    そして今、デジタル化社会による暮らしや仕事の変化、エネルギーの自由化 による付加価値型の競争の激化、また気候変動などの社会課題の深刻化な ど、私たちは新たな変革の時代の入り口にいます。
                </p>
                <p>
                    次の半世紀を見据え、不確実な時代に進むべき方角を示す羅針盤として、 2019年11月に東京ガスグループ経営ビジョン「Compass2030」を策 定。新たな挑戦に臨む仲間それぞれの強みを活かし、多様性のぶつかり合 いからより大きな価値を創造します。そして、人の成長、企業の成長、さら には社会の持続的な成長につなげていきます。
                </p>
                <p>
                    そのために私たちは、新たな挑戦に共に臨む未来の仲間に「チャレンジ精 神」「自走性」「粘り強さ」「論理的思考力」を期待します。
                </p>
            </div>
        </div>
    </section>
    <section class="p-intel3">
        <div class="l-container">
            <ul class="p-intel3__list">
                <li>
                    <div class="image">
                        <img src="../assets/img/sample_icon.png" alt="icon">
                    </div>
                    <h4>
                        チャレンジ<br>
                        精神
                    </h4>
                    <p>
                        このテキストはダミーです。この テキストはダミーです。このテキ ストはダミーです。このテキスト は ダミーです。
                    </p>
                </li>
                <li>
                    <div class="image">
                        <img src="../assets/img/sample_icon.png" alt="icon">
                    </div>
                    <h4>
                        チャレンジ<br>
                        精神
                    </h4>
                    <p>
                        このテキストはダミーです。この テキストはダミーです。このテキ ストはダミーです。このテキスト は ダミーです。
                    </p>
                </li>
                <li>
                    <div class="image">
                        <img src="../assets/img/sample_icon.png" alt="icon">
                    </div>
                    <h4>
                        チャレンジ<br>
                        精神
                    </h4>
                    <p>
                        このテキストはダミーです。この テキストはダミーです。このテキ ストはダミーです。このテキスト は ダミーです。
                    </p>
                </li>
                <li>
                    <div class="image">
                        <img src="../assets/img/sample_icon.png" alt="icon">
                    </div>
                    <h4>
                        チャレンジ<br>
                        精神
                    </h4>
                    <p>
                        このテキストはダミーです。この テキストはダミーです。このテキ ストはダミーです。このテキスト は ダミーです。
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="p-intel4">
        <div class="l-container">
            <div class="c-section-title">
                <h2>OUR JOB</h2>
                <p>私たちの仕事</p>
            </div>
            <ul class="p-intel4__list">
                <li>
                    <div class="image">
                        <a href="#">
                            <img src="../assets/img/intel_img_06.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="#">
                            TV制作部
                        </a>
                    </h4>
                </li>
            </ul>
        </div>
    </section>
</main>
<%- include('inc/_footer'); %>