<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="p-introduction">
        <section class="p-introduction1">
            <div class="c-preamble">
                <div class="l-container l-container--custom">
                    <!--======= Preamble Header =======-->
                    <div class="c-preamble__header">
                        <h2 class="c-titleline c-titleline--custom">TV制作</h2>
                        <p class="c-preamble__sub">
                            TV制作部門の紹介です。
                        </p>
                    </div>
                    <!--======= Preamble Body =======-->
                    <div class="c-preamble__body">
                        <!--======= Preamble Item =======-->
                        <div class="c-preamble__inner">
                            <div class="c-preamble__item">
                                <!-- Preamble Content -->
                                <div class="c-preamble__content">
                                    <h3 class="c-preamble__title">
                                        誰よりも早く、<br> 誰よりも近く...
                                    </h3>
                                    <p class="c-preamble__desc">
                                        ニュースの現場で出来事を冷徹に捉え続ける時代の 「目撃者」。事件、事故、災害、政局...国際問題 ど、あらゆる現場で活躍するカメラマンとビデオエン ジニア。取材エリアは国内だけでなく世界各国とな り、関わるのは、ANNニュース、スーパーJチャンネ ルや報道ステーションをはじめ、ニュースを扱うほと んどの番組です。さらに技術部には中継班、映像伝送 班など映像を現場からいち早く届ける技術陣がいま す。報道を支える、絶対にあきらめない精鋭スタッフ たちがあつまる部署です。
                                    </p>
                                </div>
                                <!-- Preamble Picture -->
                                <div class="c-preamble__picture">
                                    <img src="./assets/img/preamble-image.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--======= Preamble Item =======-->
                        <div class="c-preamble__inner">
                            <div class="c-preamble__item">
                                <!-- Preamble Content -->
                                <div class="c-preamble__content">
                                    <h3 class="c-preamble__title">
                                        誰よりも早く、<br> 誰よりも近く...
                                    </h3>
                                    <p class="c-preamble__desc">
                                        ニュースの現場で出来事を冷徹に捉え続ける時代の 「目撃者」。事件、事故、災害、政局...国際問題 ど、あらゆる現場で活躍するカメラマンとビデオエン ジニア。取材エリアは国内だけでなく世界各国とな り、関わるのは、ANNニュース、スーパーJチャンネ ルや報道ステーションをはじめ、ニュースを扱うほと んどの番組です。さらに技術部には中継班、映像伝送 班など映像を現場からいち早く届ける技術陣がいま す。報道を支える、絶対にあきらめない精鋭スタッフ たちがあつまる部署です。
                                    </p>
                                </div>
                                <!-- Preamble Picture -->
                                <div class="c-preamble__picture">
                                    <img src="./assets/img/preamble-image.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--======= Preamble Item =======-->
                        <div class="c-preamble__inner">
                            <div class="c-preamble__item">
                                <!-- Preamble Content -->
                                <div class="c-preamble__content">
                                    <h3 class="c-preamble__title">
                                        誰よりも早く、<br> 誰よりも近く...
                                    </h3>
                                    <p class="c-preamble__desc">
                                        ニュースの現場で出来事を冷徹に捉え続ける時代の 「目撃者」。事件、事故、災害、政局...国際問題 ど、あらゆる現場で活躍するカメラマンとビデオエン ジニア。取材エリアは国内だけでなく世界各国とな り、関わるのは、ANNニュース、スーパーJチャンネ ルや報道ステーションをはじめ、ニュースを扱うほと んどの番組です。さらに技術部には中継班、映像伝送 班など映像を現場からいち早く届ける技術陣がいま す。報道を支える、絶対にあきらめない精鋭スタッフ たちがあつまる部署です。
                                    </p>
                                </div>
                                <!-- Preamble Picture -->
                                <div class="c-preamble__picture">
                                    <img src="./assets/img/preamble-image.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--======= Preamble Item =======-->
                        <div class="c-preamble__inner">
                            <div class="c-preamble__item">
                                <!-- Preamble Content -->
                                <div class="c-preamble__content">
                                    <h3 class="c-preamble__title">
                                        誰よりも早く、<br> 誰よりも近く...
                                    </h3>
                                    <p class="c-preamble__desc">
                                        ニュースの現場で出来事を冷徹に捉え続ける時代の 「目撃者」。事件、事故、災害、政局...国際問題 ど、あらゆる現場で活躍するカメラマンとビデオエン ジニア。取材エリアは国内だけでなく世界各国とな り、関わるのは、ANNニュース、スーパーJチャンネ ルや報道ステーションをはじめ、ニュースを扱うほと んどの番組です。さらに技術部には中継班、映像伝送 班など映像を現場からいち早く届ける技術陣がいま す。報道を支える、絶対にあきらめない精鋭スタッフ たちがあつまる部署です。
                                    </p>
                                </div>
                                <!-- Preamble Picture -->
                                <div class="c-preamble__picture">
                                    <img src="./assets/img/preamble-image.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--======= Preamble Footer =======-->
                    <div class="c-preamble__footer">
                        <a href="#" class="c-btndark">
                            まずは相談してみる
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-introduction2">
            <div class="c-works">
                <div class="c-works__header">
                    <div class="c-title2 c-title2--silver">
                        <h2>
                            WORKS
                        </h2>
                        <p>
                            実績紹介
                        </p>
                    </div>
                </div>
                <!--======= Works Body =======-->
                <div class="c-works__body">
                    <div class="c-pick-up">
                        <div class="c-pick-up__slide">
                            <!--======= Pick Up Item =======-->
                            <div class="c-pick-up__item">
                                <section class="c-post c-post--blue">
                                    <figure>
                                        <div class="c-post__image">
                                            <a href="#">
                                                <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                            </a>
                                        </div>
                                        <figcaption>
                                            <div class="c-post__head">
                                                <h3><a href="#">MBS「キラスポ」</a></h3>
                                                <p>日曜深夜 0:50~※月1回</p>
                                            </div>
                                            <div class="c-post__body">
                                                <p>
                                                    <a href="#">
                                                        説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト
                                                        説明テキスト
                                                    </a>
                                                </p>
                                                <h5>
                                                    <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                                        https://www.spora.jp/event_group/kira-spo/
                                                    </a>
                                                </h5>
                                            </div>
                                            <ul class="c-post__foot">
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </section>
                            </div>
                            <!--======= Pick Up Item =======-->
                            <div class="c-pick-up__item">
                                <section class="c-post c-post--blue">
                                    <figure>
                                        <div class="c-post__image">
                                            <a href="#">
                                                <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                            </a>
                                        </div>
                                        <figcaption>
                                            <div class="c-post__head">
                                                <h3><a href="#">MBS「キラスポ」</a></h3>
                                                <p>日曜深夜 0:50~※月1回</p>
                                            </div>
                                            <div class="c-post__body">
                                                <p>
                                                    <a href="#">
                                                        説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト
                                                        説明テキスト
                                                    </a>
                                                </p>
                                                <h5>
                                                    <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                                        https://www.spora.jp/event_group/kira-spo/
                                                    </a>
                                                </h5>
                                            </div>
                                            <ul class="c-post__foot">
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </section>
                            </div>
                            <!--======= Pick Up Item =======-->
                            <div class="c-pick-up__item">
                                <section class="c-post c-post--blue">
                                    <figure>
                                        <div class="c-post__image">
                                            <a href="#">
                                                <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                            </a>
                                        </div>
                                        <figcaption>
                                            <div class="c-post__head">
                                                <h3><a href="#">MBS「キラスポ」</a></h3>
                                                <p>日曜深夜 0:50~※月1回</p>
                                            </div>
                                            <div class="c-post__body">
                                                <p>
                                                    <a href="#">
                                                        説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト
                                                        説明テキスト
                                                    </a>
                                                </p>
                                                <h5>
                                                    <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                                        https://www.spora.jp/event_group/kira-spo/
                                                    </a>
                                                </h5>
                                            </div>
                                            <ul class="c-post__foot">
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </section>
                            </div>
                            <!--======= Pick Up Item =======-->
                            <div class="c-pick-up__item">
                                <section class="c-post c-post--blue">
                                    <figure>
                                        <div class="c-post__image">
                                            <a href="#">
                                                <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                            </a>
                                        </div>
                                        <figcaption>
                                            <div class="c-post__head">
                                                <h3><a href="#">MBS「キラスポ」</a></h3>
                                                <p>日曜深夜 0:50~※月1回</p>
                                            </div>
                                            <div class="c-post__body">
                                                <p>
                                                    <a href="#">
                                                        説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト
                                                        説明テキスト
                                                    </a>
                                                </p>
                                                <h5>
                                                    <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                                        https://www.spora.jp/event_group/kira-spo/
                                                    </a>
                                                </h5>
                                            </div>
                                            <ul class="c-post__foot">
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                                <li>
                                                    <a href="">#カテゴリ</a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </section>
                            </div>
                        </div>
                        <!--======= Pick Up Arrows =======-->
                        <div class="c-pick-up__arrows pc-only">
                            <div class="arrow prev"><i class="fa-solid fa-caret-left"></i></div>
                            <div class="arrow next"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-introduction3">
            <div class="c-point">
                <div class="l-container">
                    <div class="c-point__title c-section-title c-section-title--color-inherit">
                        <h2>POINT</h2>
                        <p>ビデオユニテの"TV制作"のポイント</p>
                    </div>
                    <div class="c-point__list">
                        <div class="c-point__item" data-aos="fade-up">
                            <h4 class="c-point__count">POINT</h4>
                            <div class="c-point__image">
                                <div class="c-point__image-box">
                                    <img src="../assets/img/work.png" alt="point" />
                                </div>
                            </div>
                            <p>
                                ハイクオリティ・高品質<br /> が自慢です。
                            </p>
                        </div>
                        <div class="c-point__item" data-aos="fade-up">
                            <h4 class="c-point__count">POINT</h4>
                            <div class="c-point__image">
                                <div class="c-point__image-box">
                                    <img src="../assets/img/work.png" alt="point" />
                                </div>
                            </div>
                            <p>
                                ハイクオリティ・高品質<br /> が自慢です。
                            </p>
                        </div>
                        <div class="c-point__item" data-aos="fade-up">
                            <h4 class="c-point__count">POINT</h4>
                            <div class="c-point__image">
                                <div class="c-point__image-box">
                                    <img src="../assets/img/work.png" alt="point" />
                                </div>
                            </div>
                            <p>
                                ハイクオリティ・高品質<br /> が自慢です。
                            </p>
                        </div>
                    </div>
                    <p class="c-point__desc">
                        当社が長年にわたり3000社以上のお客様から選ばれ続けたのは、<br /> ひとえに顧客との信頼関係だと考えています。
                        <br /> その信頼関係に欠かせないものが、この制作ポイントなのです。
                    </p>
                </div>
            </div>
        </section>
        <section class="p-introduction4">
            <div class="c-plan">
                <div class="l-container l-container--small">
                    <!--======= Plan Header =======-->
                    <div class="c-plan__header">
                        <div class="c-title2 c-title2--silver">
                            <h2>
                                PLAN
                            </h2>
                            <p>
                                プラン・料金例
                            </p>
                        </div>
                    </div>
                    <!--======= Plan Body =======-->
                    <div class="c-plan__body">
                        <!-- Plan Item -->
                        <div class="c-plan__item">
                            <h3 class="c-plan__heading">
                                Case.1 撮影なし プラン
                            </h3>
                            <div class="c-plan__detail">
                                <div class="c-plan__img">
                                    <img src="./assets/img/plan-image.png" alt="">
                                </div>
                                <div class="c-plan__content">
                                    <h5 class="c-plan__title">このプランに含まれる内容</h5>
                                    <p class="c-plan__desc">画構成費・ディレクション費・編集費・グラフィック制作費・音効費・ナ レーション費・納品物作成作業費</p>
                                    <p class="c-plan__price">486,000 <span>円</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Plan Item -->
                        <div class="c-plan__item">
                            <h3 class="c-plan__heading">
                                Case.1 撮影なし プラン
                            </h3>
                            <div class="c-plan__detail">
                                <div class="c-plan__img">
                                    <img src="./assets/img/plan-image.png" alt="">
                                </div>
                                <div class="c-plan__content">
                                    <h5 class="c-plan__title">このプランに含まれる内容</h5>
                                    <p class="c-plan__desc">画構成費・ディレクション費・編集費・グラフィック制作費・音効費・ナ レーション費・納品物作成作業費</p>
                                    <p class="c-plan__price">486,000 <span>円</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Plan Item -->
                        <div class="c-plan__item">
                            <h3 class="c-plan__heading">
                                Case.1 撮影なし プラン
                            </h3>
                            <div class="c-plan__detail">
                                <div class="c-plan__img">
                                    <img src="./assets/img/plan-image.png" alt="">
                                </div>
                                <div class="c-plan__content">
                                    <h5 class="c-plan__title">このプランに含まれる内容</h5>
                                    <p class="c-plan__desc">画構成費・ディレクション費・編集費・グラフィック制作費・音効費・ナ レーション費・納品物作成作業費</p>
                                    <p class="c-plan__price">486,000 <span>円</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--======= Plan Footer =======-->
                    <div class="c-plan__footer">
                        <p>詳しいご相談はこちらから</p>
                        <a href="#" class="c-plan__btn">
                            お問い合わせ

                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section class="p-introduction5">
            <div class="c-flow">
                <div class="l-container l-container--small">
                    <div class="c-flow__header">
                        <div class="c-title2 c-title2--silver">
                            <h2>
                                FLOW
                            </h2>
                            <p>
                                制作の流れ
                            </p>
                        </div>
                    </div>
                    <div class="c-flow__body">
                        <div class="c-flow__item">
                            <p class="c-flow__number"></p>
                            <div class="c-flow__content">
                                <h3 class="c-flow__heading">
                                    企画
                                </h3>
                                <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                                </p>
                            </div>
                        </div>
                        <div class="c-flow__item">
                            <p class="c-flow__number"></p>
                            <div class="c-flow__content">
                                <h3 class="c-flow__heading">
                                    リサーチ
                                </h3>
                                <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                                </p>
                            </div>
                        </div>
                        <div class="c-flow__item">
                            <p class="c-flow__number"></p>
                            <div class="c-flow__content">
                                <h3 class="c-flow__heading">
                                    ロケハン
                                </h3>
                                <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                                </p>
                            </div>
                        </div>
                        <div class="c-flow__item">
                            <p class="c-flow__number"></p>
                            <div class="c-flow__content">
                                <h3 class="c-flow__heading">
                                    ロケ
                                </h3>
                                <p class="c-flow__desc">企画会議にて番組のテーマを決め、番組内容・構成表(スケジュー ル等)を制作します。 放送作家(構成作家)と呼ばれる人達にアイ ディアを貰いながら作っていきます。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-introduction6">
            <div class="c-form1">
                <!--======= Form 1 Header =======-->
                <div class="c-form1__header">
                    <h3 class="c-titleline c-titleline--custom">
                        お問い合わせ
                    </h3>
                </div>
                <!--======= Form 1 Body =======-->
                <div class="c-form1__body">
                    <div class="l-container">
                        <section class="c-contactForm">
                            <form action="">
                                <div data-aos="fade-up" class="c-contactForm__row">
                                    <div class="c-contactForm__label">
                                        <p>
                                            <label for="">お名前</label>
                                        </p>
                                    </div>
                                    <div class="c-contactForm__input">
                                        <input type="text" placeholder="例)田中太朗" />
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="c-contactForm__row">
                                    <div class="c-contactForm__label">
                                        <p class="u-required">
                                            <label for="">電話番号</label>
                                        </p>
                                    </div>
                                    <div class="c-contactForm__input">
                                        <input type="text" placeholder="例)123-4567-890" />
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="c-contactForm__row">
                                    <div class="c-contactForm__label">
                                        <p class="u-required">
                                            <label for="">メールアドレス</label>
                                        </p>
                                    </div>
                                    <div class="c-contactForm__input">
                                        <input type="email" placeholder="例)example@abc.com" />
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="c-contactForm__row">
                                    <div class="c-contactForm__label">
                                        <p>
                                            <label for="">お問い合わせの内容</label>
                                        </p>
                                    </div>
                                    <div class="c-contactForm__input">
                                        <select name="" id="">
                                            <option value="選択してください">選択してください</option>
                                        </select>
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="c-contactForm__row">
                                    <div class="c-contactForm__label">
                                        <p>
                                            <label for="">メッセージ</label>
                                        </p>
                                    </div>
                                    <div class="c-contactForm__input">
                                        <textarea name="" id="" cols="30" rows="10" placeholder="こちらにご記入ください"></textarea>
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="c-contactForm__row c-contactForm__row--submit">
                                    <div class="submit-btn">
                                        <input type="submit" value="送信する" />
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>