<%- include('inc/_header'); %>
<main class="p-result">
    <div class="c-banner">
        <img class="c-fit" src="../assets/img/untie_top_006.jpg" alt="page-baner">
    </div>
    <section class="p-result1">
        <div class="l-container l-container--small">
            <h3 class="c-titleline c-titleline--black">
                制作実績
            </h3>
            <p class="p-result1__desc c-desc">
                弊社の制作実績を紹介致します。
            </p>
            <ul class="p-result1__tabs">
                <li>
                    <a class="is-active" href="javascript:void(0)">すべて</a>
                </li>
                <li>
                    <a href="javascript:void(0)">TV制作</a>
                </li>
                <li>
                    <a href="javascript:void(0)">WEB忘告</a>
                </li>
                <li>
                    <a href="javascript:void(0)">企業VP</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Youtube制作</a>
                </li>
                <li>
                    <a href="javascript:void(0)">配信番組制作</a>
                </li>
                <li>
                    <a href="javascript:void(0)">CG・<br>イラスト制作</a>
                </li>
            </ul>
        </div>
        <div class="p-result1__pickup">
            <div class="c-section-title">
                <h2>PICK UP</h2>
                <p>ピックアップ</p>
            </div>
            <section class="c-pick-up">
                <div class="c-pick-up__slide">
                    <div class="c-pick-up__item">
                        <section class="c-post c-post--orange">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                  <div class="c-post__head">
                                      <h3><a href="#">MBS「キラスポ」</a></h3>
                                      <p>日曜深夜 0:50~※月1回</p>
                                  </div>
                                  <div class="c-post__body">
                                      <p>
                                          <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                          </a>
                                      </p>
                                      <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                      </h5>
                                  </div>
                                  <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                  </ul>
                              </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="c-pick-up__item">
                        <section class="c-post c-post--orange">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                  <div class="c-post__head">
                                      <h3><a href="#">MBS「キラスポ」</a></h3>
                                      <p>日曜深夜 0:50~※月1回</p>
                                  </div>
                                  <div class="c-post__body">
                                      <p>
                                          <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                          </a>
                                      </p>
                                      <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                      </h5>
                                  </div>
                                  <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                  </ul>
                              </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="c-pick-up__item">
                        <section class="c-post c-post--orange">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                  <div class="c-post__head">
                                      <h3><a href="#">MBS「キラスポ」</a></h3>
                                      <p>日曜深夜 0:50~※月1回</p>
                                  </div>
                                  <div class="c-post__body">
                                      <p>
                                          <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                          </a>
                                      </p>
                                      <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                      </h5>
                                  </div>
                                  <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                  </ul>
                              </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="c-pick-up__item">
                        <section class="c-post c-post--orange">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                  <div class="c-post__head">
                                      <h3><a href="#">MBS「キラスポ」</a></h3>
                                      <p>日曜深夜 0:50~※月1回</p>
                                  </div>
                                  <div class="c-post__body">
                                      <p>
                                          <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                          </a>
                                      </p>
                                      <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                      </h5>
                                  </div>
                                  <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                  </ul>
                              </figcaption>
                            </figure>
                        </section>
                    </div>
                </div>
                <div class="c-pick-up__arrows pc-only">
                    <div class="arrow prev"><i class="fa-solid fa-caret-left"></i></div>
                    <div class="arrow next"><i class="fa-solid fa-caret-right"></i></div>
                </div>
            </section>
        </div>
        <div class="p-result1__list">
            <div class="l-container">
                <div class="c-section-title">
                    <h2>ACHIEVEMENT LIST</h2>
                    <p>実績一覧</p>
                </div>
                <div class="list">
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                    <div class="item">
                        <section class="c-post">
                            <figure>
                                <div class="c-post__image">
                                    <a href="#">
                                        <img class="c-fit" src="../assets/img/sample_post.png" alt="post__thumbnail">
                                    </a>
                                </div>
                                <figcaption>
                                    <div class="c-post__head">
                                        <h3><a href="#">MBS「キラスポ」</a></h3>
                                        <p>日曜深夜 0:50~※月1回</p>
                                    </div>
                                    <div class="c-post__body">
                                        <p>
                                            <a href="#">
                                            説明テキスト 説明テキスト 説明テキスト説明テキスト 説明テキスト説明テキスト 説 明テキスト説明テキスト 説明テキスト 説明テキスト
                                            </a>
                                        </p>
                                        <h5>
                                        <a href="https://www.spora.jp/event_group/kira-spo/" target="_blank">
                                            https://www.spora.jp/event_group/kira-spo/
                                        </a>
                                        </h5>
                                    </div>
                                    <ul class="c-post__foot">
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    <li>
                                        <a href="">#カテゴリ</a>
                                    </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                </div>
                <section class="c-pagination">
                    <a href="#" class="prev">◂</a>
                    <div class="c-pagination__list">
                      <a href="#" class="page-numbers">1</a>
                      <a href="#" class="page-numbers">2</a>
                      <span class="page-numbers current">3</span>
                      <a href="#" class="page-numbers">4</a>
                      <a href="#" class="page-numbers">5</a>
                    </div>
                    <a href="#" class="next">▸</a>
                  </section>
            </div>
        </div>
    </section>
</main>
<%- include('inc/_footer'); %>