<%- include('inc/_header'); %>
<main class="p-result">
    <section class="p-result1">
        <div class="l-container l-container--small">
            <h3 class="c-titleline c-titleline--black">
                制作実績
            </h3>
            <p class="p-result1__desc">
                弊社の制作実績を紹介致します。
            </p>
            <ul class="p-result1__tabs">
                <li>
                    <a class="is-active" href="javascript:void(0)">すべて</a>
                </li>
                <li>
                    <a href="javascript:void(0)">TV制作</a>
                </li>
                <li>
                    <a href="javascript:void(0)">WEB忘告</a>
                </li>
                <li>
                    <a href="javascript:void(0)">企業VP</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Youtube制作</a>
                </li>
                <li>
                    <a href="javascript:void(0)">配信番組制作</a>
                </li>
                <li>
                    <a href="javascript:void(0)">CG・<br>イラスト制作</a>
                </li>
            </ul>
        </div>
    </section>
</main>
<%- include('inc/_footer'); %>