<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="p-recruitment">
        <section class="p-recruitment0">
            <!--======= Breadcrumb =======-->
            <div class="l-container l-container--custom">
                <ul class="c-breadcrumb">
                    <li>
                        <a href="#">
                            TOP
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            運用情報
                        </a>
                    </li>
                </ul>
            </div>
            <!--======= Banner =======-->
            <div class="c-banner">
                <img class="c-fit" src="../assets/img/recruitment-image.png" alt="page-baner">
            </div>
        </section>
        <section class="p-recruitment1">
            <!--======= Preamble =======-->
            <div class="c-preamble1">
                <!--======= Preamble1 Header =======-->
                <div class="c-preamble1__header">
                    <h2 class="c-titleline c-titleline--custom">TV制作部</h2>
                    <p class="c-preamble1__sub">
                        採用募集に関する情報を掲載しています。
                    </p>
                </div>
                <!--======= Preamble 1 Body =======-->
                <div class="c-preamble1__body">
                    <div class="c-preamble1__img1">
                        <img src="./assets/img/recruitment-image-1.png" alt="">
                    </div>
                    <div class="c-preamble1__content">
                        <h3 class="c-preamble1__title">
                            誰よりも早く、<br> 誰よりも近く...
                        </h3>
                        <p class="c-preamble1__desc">
                            ニュースの現場で出来事を冷徹に捉え続ける時代の 「目撃者」。事件、事故、災害、政局...国際問題 ど、あらゆる現場で活躍するカメラマンとビデオエン ジニア。取材エリアは国内だけでなく世界各国とな り、関わるのは、ANNニュース、スーパーJチャンネ ルや報道ステーションをはじめ、ニュースを扱うほと んどの番組です。さらに技術部には中継班、映像伝送 班など映像を現場からいち早く届ける技術陣がいま す。報道を支える、絶対にあきらめない精鋭スタッフ たちがあつまる部署です。
                        </p>
                    </div>
                    <div class="c-preamble1__img2">
                        <img src="./assets/img/recruitment-image-2.png" alt="">
                    </div>
                </div>

            </div>
        </section>
        <section class="p-recruitment2">
            <div class="c-schedule">
                <div class="c-schedule__header">
                    <div class="c-title2">
                        <h2>
                            SCHEDULE
                        </h2>
                        <p>
                            撮影クル - の一日
                        </p>
                    </div>
                </div>
                <div class="c-schedule__body">
                    <div class="c-schedule__inner">
                        <div class="l-container l-container--small">
                            <!--======= Schedule Item =======-->
                            <div class="c-schedule__item">
                                <div class="c-schedule__picture">
                                </div>
                                <div class="c-schedule__content">
                                    <div class="c-schedule__heading">
                                        <i class="fas fa-clock"></i>
                                        <p class="c-schedule__time">
                                            9:00 AM
                                        </p>
                                    </div>
                                    <div class="c-schedule__txt">
                                        <p class="c-schedule__title">出社</p>
                                        <p class="c-schedule__desc">カメラやマイクを念入りにチェックして取材に出発!何 位ごとも入念な準備が大切なのです。</p>
                                    </div>

                                </div>
                            </div>
                            <!--======= Schedule Item =======-->
                            <div class="c-schedule__item">
                                <div class="c-schedule__picture">
                                </div>
                                <div class="c-schedule__content">
                                    <div class="c-schedule__heading">
                                        <i class="fas fa-clock"></i>
                                        <p class="c-schedule__time">
                                            9:00 AM
                                        </p>
                                    </div>
                                    <div class="c-schedule__txt">
                                        <p class="c-schedule__title">出社</p>
                                        <p class="c-schedule__desc">カメラやマイクを念入りにチェックして取材に出発!何 位ごとも入念な準備が大切なのです。</p>
                                    </div>

                                </div>
                            </div>
                            <!--======= Schedule Item =======-->
                            <div class="c-schedule__item">
                                <div class="c-schedule__picture">
                                </div>
                                <div class="c-schedule__content">
                                    <div class="c-schedule__heading">
                                        <i class="fas fa-clock"></i>
                                        <p class="c-schedule__time">
                                            9:00 AM
                                        </p>
                                    </div>
                                    <div class="c-schedule__txt">
                                        <p class="c-schedule__title">出社</p>
                                        <p class="c-schedule__desc">カメラやマイクを念入りにチェックして取材に出発!何 位ごとも入念な準備が大切なのです。</p>
                                    </div>

                                </div>
                            </div>
                            <!--======= Schedule Item =======-->
                            <div class="c-schedule__item">
                                <div class="c-schedule__picture">
                                </div>
                                <div class="c-schedule__content">
                                    <div class="c-schedule__heading">
                                        <i class="fas fa-clock"></i>
                                        <p class="c-schedule__time">
                                            9:00 AM
                                        </p>
                                    </div>
                                    <div class="c-schedule__txt">
                                        <p class="c-schedule__title">出社</p>
                                        <p class="c-schedule__desc">カメラやマイクを念入りにチェックして取材に出発!何 位ごとも入念な準備が大切なのです。</p>
                                    </div>

                                </div>
                            </div>
                            <!--======= Schedule Item =======-->
                            <div class="c-schedule__item">
                                <div class="c-schedule__picture">
                                </div>
                                <div class="c-schedule__content">
                                    <div class="c-schedule__heading">
                                        <i class="fas fa-clock"></i>
                                        <p class="c-schedule__time">
                                            9:00 AM
                                        </p>
                                    </div>
                                    <div class="c-schedule__txt">
                                        <p class="c-schedule__title">出社</p>
                                        <p class="c-schedule__desc">カメラやマイクを念入りにチェックして取材に出発!何 位ごとも入念な準備が大切なのです。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="p-recruitment3">
            <div class="l-container l-container--custom">
                <div class="c-job">
                    <div class="c-job__header">
                        <div class="c-title2 c-title2--silver">
                            <h2>
                                JOB DESCRIPTION
                            </h2>
                            <p>
                                募集要項
                            </p>
                        </div>
                    </div>
                    <div class="c-job__body">
                        <table class="c-table1">
                            <tbody>
                                <tr>
                                    <th>募集職種</th>
                                    <td>
                                        ・撮影アシスタント <br>・映像編集<br> ・アーカイブスタッフ<br> ※いずれも未経験者歓迎
                                    </td>
                                </tr>
                                <tr>
                                    <th>雇用形態</th>
                                    <td>契約社員(正社員登用の実績あり)</td>
                                </tr>
                                <tr>
                                    <th>募集職種</th>
                                    <td>・撮影アシスタント<br> ・映像編集<br> ・アーカイブスタッフ<br> ※いずれも未経験者歓迎</td>
                                </tr>
                                <tr>
                                    <th>雇用形態</th>
                                    <td>契約社員(正社員登用の実績あり)</td>
                                </tr>
                                <tr>
                                    <th>募集職種</th>
                                    <td>影アシスタント<br> ・映像編集<br> ・アーカイブスタッフ<br> ※いずれも未経験者歓迎</td>
                                </tr>
                                <tr>
                                    <th>雇用形態</th>
                                    <td>契約社員(正社員登用の実績あり)</td>
                                </tr>
                                <tr>
                                    <th>募集職種</th>
                                    <td>・撮影アシスタント<br> ・映像編集<br> ・アーカイブスタッフ<br> ※いずれも未経験者歓迎</td>
                                </tr>
                                <tr>
                                    <th>雇用形態</th>
                                    <td>契約社員(正社員登用の実績あり)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-recruitment4">
            <div class="c-message">
                <div class="c-message__header">
                    <div class="c-title2 c-title2--silver">
                        <h2>
                            MESSAGE FROM STAFF
                        </h2>
                        <p>
                            スタッフからのメッセージ
                        </p>
                    </div>
                </div>
                <div class="l-container l-container--custom">
                    <div class="c-message__body">
                        <div class="c-message__item">
                            <div class="c-message__picture">
                                <img src="./assets/img/message-image.png" alt="">

                            </div>
                            <div class="c-message__content">
                                <h4 class="c-message__title">
                                    見出しテキストが入ります。
                                </h4>
                                <p class="c-message__desc">
                                    スタッフから、就活生へのメッセージスタッ フから、就活生へのメッセージスタッフか ら、就活生へのメッセージ
                                </p>
                                <span class="c-message__name">
                                    部署名 / お名前(またはイニシャル)
                                </span>
                            </div>
                        </div>
                        <div class="c-message__item">
                            <div class="c-message__picture">
                                <img src="./assets/img/message-image.png" alt="">

                            </div>
                            <div class="c-message__content">
                                <h4 class="c-message__title">
                                    見出しテキストが入ります。
                                </h4>
                                <p class="c-message__desc">
                                    スタッフから、就活生へのメッセージスタッ フから、就活生へのメッセージスタッフか ら、就活生へのメッセージ
                                </p>
                                <span class="c-message__name">
                                    部署名 / お名前(またはイニシャル)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="p-recruitment5">
            <div class="c-faq">
                <div class="l-container l-container--small">
                    <div class="c-faq__header">
                        <div class="c-title2 c-title2--silver">
                            <h2>
                                FAQ
                            </h2>
                            <p>
                                よくある質問
                            </p>
                        </div>
                    </div>

                    <div class="c-faq__body">
                        <div class="c-faq__item">
                            <div class="c-faq__heading">
                                <div class="c-faq__title">
                                    <span class="c-faq__aq">Q</span>
                                    <p>インターンの先行プロセスについて教えてください。</p>
                                </div>
                                <p class="c-faq__icon">
                                    +
                                </p>
                            </div>
                            <div class="c-faq__inner">
                                <span class="c-faq__aq">A</span>
                                <p class="c-faq__desc">私たちは、国籍や学歴(学年、学部、学科)など、一切不問で通年採用を実施しています。</p>
                            </div>
                        </div>
                        <div class="c-faq__item">
                            <div class="c-faq__heading">
                                <div class="c-faq__title">
                                    <span class="c-feq__aq">Q</span>
                                    <p>新卒採用への応募資格はありますか?</p>
                                </div>
                                <p class="c-faq__icon">
                                    +
                                </p>
                            </div>
                            <div class="c-faq__inner">
                                <span class="c-faq__aq">A</span>
                                <p class="c-faq__desc">私たちは、国籍や学歴(学年、学部、学科)など、一切不問で通年採用を実施しています。</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>