.c-section-title{
    color: #b3b3b3;
    text-align: center;
    &--color-inherit{
        color: inherit;
    }
    &--left{
        text-align: left;
    }
    h2{
        font-size: 6rem;
        letter-spacing: 0.3em;
        line-height: 1.3;
    }
    p{
        font-size: 1.9rem;
        margin-top: 5px;
        letter-spacing: 0.2em;
    }
}

@media screen and (max-width: 768px){
    .c-section-title{
        h2{
            font-size: 2.2rem;
        }
        p{
            font-size: 1.3rem;
            letter-spacing: 0.15em;
        }
    }
}