.c-how{
    text-align: center;
    background-color: white;
    padding: 97px 0 107px;
    &__desc{
        margin-top: 69px;
        font-size: 1.9rem;
        letter-spacing: 0.25em;
        font-weight: bold;
    }
    &__btn{
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 86px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        a{
            display: block;
            width: 46.6%;
        }
    }
}

@media screen and (max-width: 768px){
    .c-how{
        padding: 60px 0;
        &__desc{
            margin-top: 30px;
            font-size: 1.3rem;
        }
        &__btn{
            margin-top: 40px;
            justify-content: center;
            a{
                width: 100%;
                max-width: 500px;
                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
        }
    }
}