.c-used {
    position: relative;
    z-index: 3;
    &::before {
        content: "";
        border: 5px solid #dbdbdb;
        transform: rotate(45deg);
        left: -49px;
        top: -125px;
        position: absolute;
        z-index: 0;
        width: 175px;
        height: 175px;
    }
    &__header {
        color: #fff;
    }
    &__body {
        position: relative;
        z-index: 3;
        margin-top: 57px;
        border-radius: 15px;
        background: #fff;
        padding: 78px;
        &::after {
            content: "";
            background: linear-gradient(to top, #3b9ae0, #5221ed);
            transform: rotate(45deg);
            right: -311px;
            top: -130px;
            position: absolute;
            z-index: 0;
            width: 175px;
            height: 175px;
        }
    }
    table {
        border-collapse: collapse;
        border: 5px solid #ccc;
        width: 100%;
        border-spacing: 0;
    }
    tr {
        border-bottom: 1px solid #ccc;
    }
    th {
        font-size: 2.4rem;
        letter-spacing: 2px;
        border-right: 1px solid #ccc;
        padding: 40px 27px;
        width: 30%;
        text-align: left;
    }
    td {
        text-align: left;
        padding: 0 33px;
        font-size: 2rem;
        letter-spacing: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .c-used {
        &__body {
            padding: 35px;
        }
        &__inner {
            overflow: auto;
        }
        th,
        td {
            padding: 20px 27px;
        }
        th {
            font-size: 1.8rem;
            min-width: 270px;
        }
        td {
            font-size: 1.6rem;
            min-width: 470px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .c-used {
        &::before {
            width: 100px;
            height: 100px;
        }
        .c-title2 {
            h2 {
                font-size: 2.7rem;
                line-height: 1.8;
            }
        }
    }
}