.c-floor {
    &__header {
        margin-bottom: 72px;
    }
    &__body {
        display: flex;
        align-items: center;
    }
    &__picture {
        padding: 22px 15px 13px 22px;
        background-color: #fff;
        width: 29%;
        line-height: 1;
    }
    &__content {
        position: relative;
        min-height: 790px;
        flex: 1;
        position: relative;
        margin-left: 85px;
        border-radius: 15px;
        padding: 51px;
        box-shadow: 11px 20px 29px 6px rgba(0, 0, 0, .1);
        background-color: #fff;
        &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -60px;
            border-top: 30px solid transparent;
            border-right: 60px solid #fff;
            border-bottom: 30px solid transparent;
        }
    }
    &__img {
        line-height: 1;
    }
    &__title {
        font-size: 2.8rem;
        letter-spacing: 5px;
        margin-top: 45px;
        margin-bottom: 30px;
    }
    &__desc {
        font-size: 1.8rem;
        letter-spacing: .55rem;
        line-height: 2;
    }
}