.c-intro {
    display: flex;
    &__picture {
        width: 30.3%;
    }
    &__img2 {
        margin-top: -45px;
        width: 54%;
    }
    &__content {
        padding-top: 163px;
        padding-left: 90px;
        width: 57%;
    }
    &__subtitle {
        margin: 47px 0 41px;
        font-size: 2.5rem;
        letter-spacing: 6px;
        font-weight: bold;
    }
    &__desc {
        margin-bottom: 43px;
        font-size: 1.8rem;
        line-height: 2;
        letter-spacing: 6px;
    }
}

@media only screen and (max-width: 1250px) {
    .c-intro {
        &__picture {
            width: 27%;
        }
        &__content {
            padding-top: 120px;
            padding-left: 47px;
            width: 68%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .c-intro {
        flex-direction: column;
        width: 94%;
        margin: 0 auto;
        &__subtitle {
            font-size: 2.2rem;
            margin: 30px 0 30px;
        }
        &__desc {
            font-size: 1.6rem;
            line-height: 1.8;
        }
        &__content {
            width: 100%;
            padding-left: 0%;
            order: -1;
        }
        &__picture {
            width: 100%;
            margin-top: 40px;
        }
    }
}