.c-submain {
    line-height: 1;
    display: flex;
    &__box1 {
        display: flex;
        .c-submain__img2,
        .c-submain__img3 {
            flex: 1;
        }
    }
    &__img {
        width: 100%;
    }
    &__content {
        color: #fff;
        width: 32%;
        padding: 99px 0 58px;
        h2 {
            font-family: CerebriSansBook;
            line-height: 1;
            font-size: 7.5rem;
            letter-spacing: 18px;
            font-weight: 400;
        }
        p {
            margin-top: 38px;
            font-size: 1.8rem;
            line-height: 2;
            letter-spacing: 6px;
        }
    }
    &__picture {
        position: absolute;
        width: 61.5%;
        max-width: 1100px;
        top: 0;
        right: 0;
    }
    &__pro {
        color: #8fa5ef;
        display: inline-block;
        font-family: Magnite;
        font-size: 14rem;
        margin-top: 14px;
        margin-left: -75px;
        text-align: right;
        transform: rotate(-7deg);
        letter-spacing: 6px;
        line-height: 1;
        span {
            &:last-child {
                display: block;
                margin-top: -32px;
                margin-right: -63px;
                transform: rotate(-11deg);
            }
        }
    }
    &__scroll {
        color: #000;
        border-right: 1px solid #000;
        position: absolute;
        bottom: -242px;
        right: 99px;
        padding: 0 13px 65px;
        span {
            writing-mode: vertical-lr;
            font-size: 2rem;
            letter-spacing: 6px;
        }
        &::before {
            content: "";
            right: -44px;
            bottom: 0;
            position: absolute;
            z-index: -1;
            width: 290px;
            height: 290px;
            border: 5px solid #8fa5ef;
            transform: rotate(45deg);
            animation: submain_scroll 10s infinite linear;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .c-submain {
        padding-bottom: 130px;
        flex-direction: column;
        width: 100%;
        &__content {
            padding: 50px 0 25px;
            position: relative;
            width: 80%;
        }
        &__picture {
            position: relative;
            width: 100%;
        }
        &__pro {
            position: absolute;
            top: 25px;
            right: 15px;
            font-size: 6rem;
            margin-top: 0;
            margin-left: 0;
            letter-spacing: 4px;
            transform: rotate(0deg);
            span {
                &:last-child {
                    margin-top: -10px;
                    transform: rotate(0deg);
                }
            }
        }
        &__scroll {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .c-submain {
        padding-bottom: 18px;
        &__content {
            font-size: 1.6rem;
            line-height: 1.8;
            width: 90%;
            p {
                font-size: 1.6rem;
                line-height: 1.8;
            }
            h2 {
                font-size: 5.5rem;
            }
        }
        &__pro {
            margin-bottom: 20px;
            position: relative;
            top: 25px;
            right: 0;
        }
    }
}

@media screen and (min-width: 1200px){
    @keyframes submain_scroll {
        // 0%, 100%{
        //     transform: rotate(25deg);
        // }
        // 50%{
        //     transform: rotate(65deg);
        // }
        100%{
            transform: rotate(225deg);
        }
    }
}