.c-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-banner{
    height: 159px;
}

@media screen and (max-width: 768px)  {
    .c-banner{
        height: 80px;
    }
}

.c-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    .prev,.next{
        display: flex;
        width: 38px;
        height: 38px;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #211d1c;
        font-size: 2rem;
    }
    &__list{
        display: flex;
        align-items: baseline;
        margin: 0 68px;
        .page-numbers{
            font-size: 3rem;
            color: #b4b4b4;
            display: block;
            &:not(:last-child){
                margin-right: 35px;
            }
            &:hover,
            &.current{
                color: #df7a32;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .c-pagination{
        .prev,.next{
            width: 30px;
            height: 30px;
        }
        &__list{
            margin: 0 15px;
            .page-numbers{
                font-size: 2rem;
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }
}

.c-desc{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.3em;
}

@media screen and (max-width: 768px){
    .c-desc{
        font-size: 1.6rem;
    }
}