.p-intel{
    &1{
        padding: 78px 0 155px;
        .c-titleline{
            margin-bottom: 51px;
        }
        &__message{
            position: relative;
            z-index: 2;
            margin-top: 153px;
            &::before{
                content: '';
                display: block;
                height: 648px;
                width: 62.38vw;
                max-width: 1020px;
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
                background-image: linear-gradient(to bottom, #ff8c39, #ff6b01);
            }
        }
        &__image-list{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            margin-bottom: 152px;
            .image{
                position: relative;
                &::before{
                    content: '';
                    display: block;
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &--1{
                    width: 59%;
                    transform: translateY(11.7%);
                    &::before{
                        padding-bottom: 88.5%;
                    }
                }
                &--2{
                    width: 37.83%;
                    transform: translateY(-16.7%);
                    &::before{
                        padding-bottom: 86.12%;
                    }
                }
                &--3{
                    position: absolute;
                    width: 23%;
                    right: 4.1%;
                    top: 61.7%;
                    &::before{
                        padding-bottom: 85.9%;
                    }
                }
            }
        }
        &__content{
            font-size: 1.9rem;
            .text{
                line-height: 1.85;
                margin-top: 56px;
                letter-spacing: 0.26em;
            }
        }
    }
    &2{
        background: url(../img/work.png) no-repeat center;
        background-size: cover;
        z-index: 2;
        position: relative;
        padding: 104px 0 117px;
        &::before{
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom,#ffd801, #ffb21c );
            opacity: 0.5;
            z-index: -1;
        }
        .c-section-title{
            margin-bottom: 114px;
        }
        &__head{
            color: white;
        }
        &__body{
            background-color: white;
            padding: 60px 0 67px;
            position: relative;
            z-index: 2;
            .object {
                position: absolute;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::before{
                    display: block;
                    content: '';
                }
                &--1{
                    right: 90px; 
                    top: -39px;
                    width: 27.7%;
                    max-width: 452px;
                    z-index: -2;
                    &::before{
                        padding-bottom: 86.09%;
                    }
                }
                &--2{
                    width: 16.3%;
                    max-width: 267px;
                    right: 0;
                    top: 33.5%;
                    z-index: -1;
                    &::before{
                        padding-bottom: 86.5%;
                    }
                }
                &--3{
                    width: 20.18%;
                    max-width: 330px;
                    right: 150px;
                    bottom: -40px;
                    z-index: -3;
                    &::before{
                        padding-bottom: 86%;
                    }
                }
            }
            p{
                max-width: 812px;
                width: 67.67%;
                font-size: 1.9rem;
                line-height: 1.9;
                letter-spacing: 0.25em;
                &:not(:last-child){
                    margin-bottom: 35px;
                }
            }
        }
    }
    &3{
        padding: 143px 0 146px;
        &__list{
            display: flex;
            li{
                width: 25%;
                text-align: center;
                &:nth-child(even){
                    margin-top: 177px;
                    .image{
                        background-image: linear-gradient(to bottom, #ffd902, #ffb21c);
                    }
                }
                .image{
                    background-image: linear-gradient(to bottom, #ff8b36, #ff6c02);
                    width: 76%;
                    position: relative;
                    transform: rotate(45deg);
                    margin: auto;
                    &::before{
                        content: '';
                        display: block;
                        padding-bottom: 100%;
                    }
                    img{
                        position: absolute;
                        max-width: 70%;
                        max-height: 70%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
                h4{
                    margin-top: 76px;
                    font-size: 2.6rem;
                }
                p{
                    line-height: 1.6;
                    letter-spacing: 0.2em;
                    font-size: 1.6rem;
                    margin-top: 27px;
                    text-align: left;
                }
            }
        }
    }
    &4{
        padding: 92px 0 128px;
        background-color: #f0f0f0;
        .c-section-title{
            margin-bottom: 73px;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            li{
                width: 31.76%;
                background-color: white;
                padding: 45px 38px 35px;
                border-radius: 17px;
                overflow: hidden;
                position: relative;
                text-align: center;
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 11px;
                    width: 100%;
                    background-color: #ff7209;
                    top: 0;
                    left: 0;
                }
                h4{
                    font-size: 2.4rem;
                    margin-top: 19px;
                    letter-spacing: 0.18em;
                    a{
                        color: black;
                    }
                }
            }
            .image{
                width: 100%;
                position: relative;
                &::before{
                    display: block;
                    content: '';
                    padding-bottom: 57%;
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .p-intel{
        &1{
            padding: 40px 0 60px;
            .c-titleline{
                margin-bottom: 30px;
            }
            &__message{
                margin-top: 60px;
                &::before{
                    height: 300px;
                }
            }
            &__image-list{
                flex-wrap: wrap;
                // justify-content: center;
                margin-bottom: 30px;
                .image{
                    &--1{
                        width: 85%;
                        max-height: 400px;
                        margin: 0 auto;
                    }
                    &--2{
                        width: 57%;
                        max-height: 300px;
                    }
                    &--3{
                        width: 47%;
                        top: 59%;
                        right: 0;
                        max-height: 250px;
                    }
                }
            }
            &__content{
                .text{
                    margin-top: 30px;
                    font-size: 1.6rem;
                }
                
            }
        }
        &2{
            padding: 60px 0;
            .c-section-title{
                margin-bottom: 40px;
            }
            &__body{
                padding: 40px 10px 220px;
                p{
                    width: 100%;
                    font-size: 1.6rem;
                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
                .object{
                    &--1{
                        top: unset;
                        right: 0;
                        bottom: 20px;
                        width: 200px!important;
                        max-width: 50%;
                    }
                    &--2{
                        right: unset;
                        bottom: 77px;
                        top: unset;
                        width: 100px;
                        left: 56px;
                    }
                    &--3{
                        width: 130px;
                        bottom: 20px;
                        right: unset;
                        left: 0;
                        opacity: 0.4;
                    }
                }
            }
        }
        &3{
            padding: 60px 0;
            &__list{
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    width: 48%;
                    margin-bottom: 4%;
                    &:nth-child(even){
                        margin-top: 50px;
                    }
                    .image{
                        max-width: 160px;
                        img{
                            max-width: 60%;
                            max-height: 60%;
                        }
                    }
                    h4{
                        font-size: 2rem;
                        margin-top: 45px;
                    }
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &4{
            padding: 60px 0;
            .c-section-title{
                margin-bottom: 40px;
            }
            &__list{
                flex-wrap: wrap;
                justify-content: center;
                li{
                    width: 48%;
                    margin-right: 0;
                    margin-bottom: 4%;
                    padding: 25px 10px 20px;
                    border-radius: 10px;
                    &::before{
                        height: 6px;
                    }
                    &:not(:last-child){
                        margin-right: 4%;
                    }
                    &:nth-child(even){
                        margin-right: 0;
                    }
                    h4{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

@media  screen and (max-width: 1350px) {
    .p-intel{
        &2{
            &__body{
                .object{
                    &--1{
                        right: 60px;
                        width: 26.5%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .p-intel{
        &1{
            &__content{
                padding: 0 10px;
            }
        }
        &2{
            &__body{
                padding-left: 10px;
            }
        }
        &3{
            &__list{
                padding: 0 5px;
                li{
                    .image{
                        width: 69%;
                    }
                }
            }
        }
        &4{
            &__list{
                padding: 0 10px;
            }
        }
    }
}

@media  screen and (max-width: 1000px) {
    .p-intel{
        &2{
            &__body{
                .object{
                    &--1{
                        right: 40px;
                    }
                }
            }
        }
    }
}