<!--▼ Footer ▼-->
<footer class="c-footer">
	<div class="c-footer__header">
		<h3 class="c-titleline">
			お問い合わせ
		</h3>
		<div class="c-footer__contact">
			<div class="c-footer__web">
				<i class="fas fa-desktop"></i>
				<a href="#">WEB お問い合わせ</a>
				<p>WEBから24時間受け付けております</p>
			</div>
			<div class="c-footer__call">
				<i class="fas fa-phone"></i>
				<a href="#">012-345-6789</a>
				<p>營業時間 &nbsp;&nbsp;&nbsp; 9:00 - 18:00</p>
			</div>
		</div>
	</div>
	<div class="c-footer__body">
		<div class="c-footer__left">
			<p>
				| ビデオユニテ UNITE TOKYO
			</p>
			<p>〒531-0072 大阪市北区豊崎3丁目97 いずみビル8階</p>
			<a href="#"><i class="fas fa-phone"></i>
				012-345-6789</a>
		</div>
		<div class="c-footer__right">
			<div class="c-footer__nav">
				<a href="#" class="c-footer__heading">
					会社情報
				</a>
				<p>事業紹介</p>
				<ul>
					<li><a href="#">TV制作</a></li>
					<li><a href="#">企業VP</a></li>
					<li><a href="#">Youtube制作</a></li>
					<li><a href="#">配信番組</a></li>
					<li><a href="#">WEB広告</a></li>
					<li><a href="#">CG·三又上制作</a></li>
				</ul>
			</div>
			<div class="c-footer__more">
				<a href="#">
					最新情報
				</a>
				<a href="#">採用情報</a>
				<a href="#">お問い合わせ</a>
			</div>
		</div>
	</div>
	<div class="c-footer__footer">
		<p class="c-footer__privacy">プライバシーポリシー</p>
		<p class="c-footer__copy">Copyright © 株式会社ビデオユニテ All Rights Reserved.</p>
	</div>

<<<<<<< HEAD
</footer>
<!--▲ Footer ▲-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
=======
	</footer>
	<!--▲ Footer ▲-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="assets/js/main.js"></script>
>>>>>>> master
</body>

</html>