<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <!-- CSS file -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!--▼ Header ▼-->
    <header class="c-header">
        <a href="#" class="c-header__logo">
            <img src="./assets/img/logo.png" alt="">
        </a>
        <div class="c-header__menu">
            <nav class="c-header__nav">
                <ul>
                    <li>
                        <a href="company.html" class="is-active">company</a>
                    </li>
                    <li>
                        <a href="#">business</a>
                    </li>
                    <li>
                        <a href="#">works</a>
                    </li>
                    <li>
                        <a href="#">recruit</a>
                    </li>
                    <li>
                        <a href="#">news</a>
                    </li>
                    <li>
                        <a href="#">unite tokyo</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="c-header__call">
                <i class="fas fa-phone"></i> 012-345-6789
            </a>
            <a href="#" class="c-header__contact">
                <i class="fas fa-desktop"></i> contact
            </a>
        </div>
        <button class="c-trigger" id="menu05">
			<span></span>
			<span></span>
			<span></span>
		</button>
    </header>
    <!--▲ Header ▲-->